.navbar{
    height: 50px;
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 9999;
    
    /*background-color: rgb(26, 205, 250);*/
    background-color: var(--lightColor);
    font-size: 1.2em;
    font-weight: bold;
    /*color:#45b8fe;*/
    color:#fff;
}

.right__items{
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2.5em;

}

.right__items img{
    width: 60px;
}

.left__items{
    padding-right: 2.5em;
    width: 70%;
    display: flex;
    column-gap: 2.5em;
    justify-content: flex-end;
    align-items: center;
}

.left__items li{
    position: relative;
    cursor: pointer;
}

.left__items li::after{
    width: 0%;
    content: "";
    height: 3px;
    bottom: -2px;
    left: 0;
    background-color: #fff;
    position: absolute;
    transition: 0.3s all;
}

.left__items li:hover::after{
    width: 100%;
}