.sectionContainer{
    position: relative;
    height: 100vh;
    max-height: 100%;
    width: 100vw;
    max-width:100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightColor);
    color: var(--lightesColor);
    font-size: var(--sectionLittleFontSize);
}

.sectionContainer >div{
    width: 80%;
}

.sectionContainer > div > h4{
    font-size: var(--sectionBigFontSize);
}

.sectionContainer > div > span{
}


