.home{
    position: relative;
    height: 50vh;
    max-height: 50%;
    width: 100vw;
    max-width:100%;
}

.backgroundStyles{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 50;
    background-color: #0000007c;
}

.imageContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:scale-down;
    overflow: hidden;
}


.slider{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}

.slider img:first-child{
    animation: slide 15s infinite;
}

.slider img{
    filter: blur(1px);
    width: 100%;
    height: 100%;
    flex: 0 0 100%;
    display: inline-block;
}

.imageContainer {

}

.textContainer{
    position: absolute;
    z-index: 200;
    left: 1.2em;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 2.9em;
    font-weight: bold;
}
.textContainer span{
    text-shadow: 2px 2px #000;
}

.textContainer span:last-child{
    margin-top: 30px;
}


@keyframes slide {
    0% {
      margin-left: 0%;
    }

    35%{
      margin-left: -100%;
    }
  
    70% {
      margin-left: -200%;
    }

    99%{
      margin-left: 0%;
    }
  }